.section-header {
  height: 550px;
  background-color: #10141e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  flex-direction: column;
  width: 100vw;
}
.section-carousel {
  margin-top: 50px;
}
.header-card img {
  height: 100%;
  width: 100%;
}
.header {
  width: 100%;
}
.section-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  align-items: flex-start;
  padding: 20px 40px;
  text-align: left;
  width: 98.7%;
  border-radius: 8px;
}
.btn-section {
  font-size: 1.5rem;
  border: none;
  color: dodgerblue;
  border-bottom: 1px solid grey;
  outline: none;
  background: transparent;
}
.btn-section:hover {
  color: white;
}
@media screen and (max-width: 1000px) {
  .brand-title {
    display: none;
  }
}
