.header-card {
  background-position: center;
  background-size: cover;
  height: 470px;
}
.anime-info-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.btn-watchnow:hover {
  opacity: 0.8;
  transition: 500ms ease;
}
.btn-watchnow {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid white;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 15px;
  font-family: inherit;
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: bold;
}
.anime-info {
  color: white;
  display: flex;
  gap: 20px;
}
.anime-title {
  color: white;
  font-size: 4rem;
}
.anime-description {
  text-align: justify;
  color: white;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .btn-watchnow {
    font-size: 1.2rem;
  }
  .anime-info-item {
    font-size: 1.4rem;
  }
  .anime-title {
    font-size: 2.5rem;
  }
  .anime-description {
    width: 100%;
    font-size: 1.4rem;
  }
}
