.section-header {
  height: 550px;
  background-color: #10141e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  flex-direction: column;
  width: 100vw;
}
.header-card img {
  height: 100%;

  width: 100%;
}

.section-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  align-items: flex-start;
  padding: 20px 40px;
  text-align: left;
  width: 98.7%;

  border-radius: 10px;
}

.btn-watchnow {
  background-color: red;

  color: white;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 2rem;
}

.btn-watchnow:hover {
  opacity: 0.8;
  transition: 500ms ease;
}

@media screen and (max-width: 1000px) {
  .brand-title {
    display: none;
  }
}
