html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
body {
  background-color: #10141e;
  margin: 0;
  max-height: 100vh;
  max-width: 100vw;
}
.react-responsive-modal-closeButton {
  padding: 9px 15px !important;
  color: white !important;
  border-radius: 6px !important;
  outline: none !important;
  font-family: inherit;
  width: fit-content !important;
  height: fit-content !important;
  top: 0 !important;
  z-index: 100000;
  left: 0 !important;
  background-color: red !important;
}
.react-responsive-modal-closeButton:hover,
.react-responsive-modal-closeButton :focus {
  border: none !important;
}

.section-anime,
.section-infinite {
  margin-top: 15px;
}
.section-carousel {
  margin-top: 50px;
}

button.rec-dot {
  background-color: #3f1e26;
}

.animecard-wrapper:hover,
.gridcard-wrapper:hover {
  transform: scale(1.02);
  transition: 150ms ease;
}

button.rec-dot:hover,
button.rec-dot:active,
button.rec-dot:focus {
  background-color: #fc4747;
}

@media screen and (max-width: 768px) {
  .react-responsive-modal-closeButton {
    padding: 6px 15px !important;
  }
  .header-card {
    height: 350px !important;
  }
  .anime-description {
    font-size: 1.5rem;
  }
  .curranimeinfo {
    display: flex !important;
    justify-content: "center" !important;
    align-items: "center" !important;
  }
  .curranime {
    font-size: 1.2rem !important;
  }
}
@media screen and (max-width: 1000px) {
  .pageindex {
    gap: 1px !important;
    font-size: 2rem !important;
  }

  .pagination {
    margin-top: 5px;
    justify-content: space-between;
  }
  .previousPageButton * {
    order: 1;
  }
  .nextPageButton,
  .previousPageButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pageindex button {
    font-size: 1.7rem !important;
  }
}

.customModal {
  margin-top: 80px !important;
  width: 80vw !important;
  background-color: black !important;
  height: fit-content !important;
  padding: 0 !important;
  border-radius: 6px !important;
  overflow-y: hidden !important;
}

@keyframes customEnterModalAnimation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes customLeaveModalAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.btn-index {
  cursor: pointer;
}
.btn-pageindex:hover {
  border: 1px solid dodgerblue !important;
}
