.item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
    background-color: #683bb7;
    color: #fff;
    margin: 0 15px;
    font-size: 4em;
}