*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  padding-right: 25px;
  height: 65px;
  padding-left: 25px;
}

.nav-side-div {
  align-items: center;

  gap: 20px;
  display: flex;
}
.nav__link {
  color: white;
}
.nav__brand {
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
  text-transform: uppercase;
}

.nav__menu {
  display: flex;
  align-items: center;

  justify-content: space-around;

  gap: 3rem;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

.nav__link-signout {
  margin-right: auto;
}
@media screen and (max-width: 1050px) {
  .magnify-icon {
    display: none;
  }
  .nav {
    justify-content: space-between;
  }
  .nav__toggler {
    display: block;
    cursor: pointer;
  }

  .searchbar {
    display: none;
  }

  .nav__menu {
    position: fixed;
    z-index: 1;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 70vh;

    border: 1px solid hsl(248, 24%, 10%);
    background-color: hsl(248, 24%, 24%);
    border-radius: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
  .nav__item {
    font-size: 1.8rem;
  }
}

.nav__active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}

.searchbar {
  outline: none;
  display: inline-block;
  padding: 10px;
  border-radius: 0.4em;

  width: 330px;
  border: none;
  font-size: 1.5rem;
  color: #9aa2ae;
  background-color: #374151;
}
.searchbar::placeholder {
  color: grey;
}

.searchbar:hover,
.searchbar:focus {
  background-color: white;
}
