@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap");

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.separatorhr {
  display: none;
}
.nav {
  width: 100%;
  position: fixed;
  display: flex;

  background-color: #10141e;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  padding-right: 25px;
  height: 65px;
  z-index: 2000;
  padding-left: 25px;
}

.nav-side-div {
  align-items: center;

  gap: 20px;
  display: flex;
}
.nav__link {
  color: white;
}
.nav__brand {
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
  text-transform: uppercase;
}

.nav__menu {
  display: flex;
  align-items: center;

  justify-content: space-around;

  gap: 3rem;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

@media screen and (max-width: 1050px) {
  .magnify-icon {
    display: none;
  }
  .nav {
    justify-content: space-between;
  }
  .nav__toggler {
    display: block;
    cursor: pointer;
    border-radius: 5px;
  }

  .searchbar {
    display: none;
  }
  .separatorhr {
    display: initial !important;
  }

  .nav__menu {
    font-size: 6rem !important;
    position: fixed;
    z-index: 1;
    gap: 2rem;
    top: 7vh;
    right: 0;

    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    text-align: center;
    padding-right: 30px;
    border: 1px solid hsl(248, 24%, 10%);
    background-color: #10141e;
    border-radius: 5px;
    flex-direction: column;
    font-size: 3px !important;
    transform: translateX(100%);
    transition: 0.1s ease-in;
  }
  .nav__item {
    font-size: 1.8rem;
  }
}

.separatorhr {
  display: none;
}
@media screen and (max-width: 500px) {
  .nav__menu {
    top: 6.8vh !important;
  }
}

.nav__active {
  padding-bottom: 20px;
  transform: translateX(0%);
}

/* .nav__toggler:hover,.nav__toggler:focus {
  border: 2px solid white;
  padding: 5px;
}  */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}

.searchbar {
  outline: none;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 0.7rem;

  border: none;
  font-size: 1.5rem;
  color: #9aa2ae;
  background-color: #374151;
}
.searchbar::placeholder {
  color: white;
  font-family: inherit;
}

.searchbar:hover,
.searchbar:focus {
  background-color: white;
}
